@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'GT-America', sans-serif;
    text-transform: uppercase;
    background-color: #F6F6F6;
  }
  
  /* Keep inputs and specific elements from being uppercase if needed */
  input, textarea {
    text-transform: none;
  }
}

@layer utilities {
  .hover-cursor-green:hover {
    cursor: pointer;
    background-color: #82F74F;
  }
}